.hero {
  background-image: url("../../images/png/header/header-background.png");
  height: 80vh;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: calc(20px + 3vw);
}

.hero .hero-content {
  padding: 32px 70px;
  height: 100%;
}

.hero .hero-content h1 {
  font-weight: 700;
  color: var(--text-primary-color);
  width: 520px;
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 20px;
}

.hero .hero-content .sub-title-label {
  width: 500px;
  margin-bottom: 100px;
}

.hero .hero-content .info-rectangle {
  height: 13vh;
  width: 64%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(var(--background-color-rgb), 0.8);
  backdrop-filter: blur(16px);
  border-radius: 16px;
  padding: 20px;
  border: none;
}

.hero .hero-content .info-rectangle .info-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero .hero-content .info-rectangle .info-item .icon {
  background-color: rgba(var(--primary-color-rgb), 0.1);
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: auto;
}

.hero .hero-content .info-rectangle .info-item .icon img {
  width: 100%;
  height: 100%;
}

.hero .hero-content .info-rectangle .info-item .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero .hero-content .info-rectangle .info-item .text .main-text {
  font-weight: bold;
  font-size: 1.2vw;
  color: var(--text-primary-color);
}

.hero .hero-content .info-rectangle .info-item .text .label {
  font-size: 0.9vw;
  color: var(--text-primary-color);
  opacity: 0.8;
}

@media (min-width: 992px) and (max-width: 1110px) {
  .hero {
    background-position: bottom;
  }
}

@media (min-width: 320px) and (max-width: 481px) {
  .hero {
    margin-top: var(--mobile-nav-bar-height);
    padding-top: 5px;
    background-position: bottom;
  }
  .hero .hero-content {
    padding: 0;
    height: 100%;
  }

  .hero .hero-content h1 {
    margin: 0px 20px 18px;
    font-weight: 700;
    font-size: 35px;
    line-height: 46px;
    width: 320px;
    height: 92px;
  }

  .hero .hero-content .sub-title-label {
    margin: 18px 20px;
    width: 320px;
    height: 60px;
  }

  .hero .hero-content .info-rectangle {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 24px;
    width: 100vw;
    height: 40vh;
    border-radius: 0;
    padding: 0px;
    padding: 20px;
  }

  .hero .hero-content .info-rectangle .info-item {
    width: 70vw;
  }

  .hero .hero-content .info-rectangle .info-item .text .main-text {
    font-size: 5vw;
  }

  .hero .hero-content .info-rectangle .info-item .text .label {
    font-size: 3vw;
  }
}
