.section4 {
  margin: 95px 70px;

  .tab-bar {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;

    .tab-item {
      padding: 15px 0px;
      cursor: pointer;
      position: relative;
      font-size: 1.3vw;
      font-weight: 500;
    }

    .active {
      color: var(--primary-color);
    }

    .active::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--primary-color);
    }
  }

  .tab-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;

    .tab-image {
      position: relative;
      width: calc(100vw / 3);
      height: auto;

      img {
        width: 100%;
        height: auto;
      }

      .badge {
        position: absolute;
        top: 15px;
        bottom: auto;
        right: auto;
        padding: 5px;
        border: 3px solid;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 1.1rem;

        &.tag1 {
          left: 20px;
        }

        &.tag2 {
          left: 120px;
        }
      }
    }
  }
}

@media (max-width: 481px) and (min-width: 320px) {
  .section4 {
    margin: 50px 20px;

    .tab-bar {
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      justify-content: unset;
      gap: 20px;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .tab-images {
      flex-direction: column;
      gap: 20px;

      .tab-image {
        width: 90vw;

        .badge {
          font-size: 0.9rem;

          &.tag1 {
            left: 10px;
          }

          &.tag2 {
            left: 100px;
          }
        }
      }
    }
  }
}
