.section3 {
    margin: 95px 50px;

    .trends {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;

        .trend-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 28vw;
            height: 30vw;
            padding: 20px;
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
            border-radius: 10px;

            .house-image {
                width: 100%;
                height: auto;
            }

            .price {
                font-weight: 700;
                font-size: 1.2vw;
                color: var(--primary-color);
            }
            
            .label {
                font-weight: bold;
                font-size: 1.2vw;
            }

            .location {
                margin-top: 2vw;
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 1vw;

                img {
                    width: 2vw;
                    height: 2vw;
                }
                
            }
        }
    }
}


@media (max-width: 481px) and (min-width: 320px) {
    .section3{ 
        margin: 50px 20px;

        .trends {
            .trend-card {
                width: 100vw;
                height: 400px;

                .house-image {
                    width: 100%;
                    height: 250px;
                }

                .price {
                    font-weight: 700;
                    font-size: 15px;
                    color: var(--primary-color);
                }
                
                .label {
                    font-weight: bold;
                    font-size: 15px;
                }

                .location {
                    margin-top: 10px;
                    font-size: 12px;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}
