.section1 {
  margin: 50px 70px;

  .section1-content {
    display: flex;
    gap: 10px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-between;

    .step-card {
      width: 25vw;
      height: 270px;
      max-width: 580px;
      min-width: 250px;
      max-height: 455px;
      min-height: 200px;
      padding: 30px 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 16px;
      justify-content: start;

      &:nth-child(2) {
        background-color: var(--primary-color);
        h3 {
          color: var(--text-secondary-color);
        }
        p {
          color: var(--text-secondary-color);
        }
      }

      img {
        width: 6vh;
        height: 6vh;
      }

      h3 {
        line-height: 100%;
        font-size: 1.6vw;
        font-weight: 600;
        color: var(--text-primary-color);
      }

      p {
        font-weight: 400;
        font-size: 1.1vw;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 481px) and (min-width: 320px) {
  .section1 {
    margin: 50px 15px;

    .section1-content {
      display: flex;
      gap: 30px;
      margin-top: 40px;
      flex-wrap: wrap;
      justify-content: center;

      .step-card {
        padding: 18px 20px;
        gap: 20px;
        width: 100vw;
        height: 30vh;
        max-width: 100vw;
        min-width: 60vw;

        img {
          width: 6vh;
          height: auto;
        }

        h3 {
          font-size: 6vw;
        }

        p {
          font-size: 4vw;
        }
      }
    }
  }
}
