nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 72px 0px;

    .nav-left {
        display: flex;
        gap: 20px;
        width: 40%;
        align-items: center;

        .nav-links {
            display: flex;
            gap: 30px;
            width: 100%;
            list-style: none;
            justify-content: center;

            a {
                text-decoration: none;
                color: black;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}

